<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <system.serviceModel>
        <behaviors>
            <endpointBehaviors>
                <behavior name="WebService.WCFAJAX.Service1AspNetAjaxBehavior">
                    <enableWebScript />
                </behavior>
            </endpointBehaviors>
        </behaviors>
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
            multipleSiteBindingsEnabled="true" />
        <services>
            <service name="WebService.WCFAJAX.Service1">
                <endpoint address="" behaviorConfiguration="WebService.WCFAJAX.Service1AspNetAjaxBehavior"
                    binding="webHttpBinding" contract="WebService.WCFAJAX.Service1" />
            </service>
        </services>
    </system.serviceModel>
</configuration>
